btfxwss==1.2.4
eventemitter==0.2.0
prettytable==0.7.2
asyncio==3.4.3
websockets==7.0
pylint==1.8.3
pytest-asyncio==0.9.0
matplotlib==3.0.2
numpy==1.15.4
pyee==5.0.0
aiohttp==3.4.4
# websocket-client==0.54.0
bitfinex-api-py==1.1.10
peewee==3.14.2
nest-asyncio==1.5.1